*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.conteiner{
    border: 1px solid black;
    background:#65419A;
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.esquerda{
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.esquerda img{
    border-radius: 15%;
}
.direita{
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login{
    width: 60%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    background: rgba(15, 59, 84, 0.197);
    border-radius: 20px;
}
.esquerda h1{
    font-size: 60px;
    color: wheat;
}
.card-login h1{
    color: wheat;
}
.nome{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.nome input{
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    background: rgb(234, 234, 234);
    font-size: 12pt;
}
.nome label{
    font-size: 15pt;
    color: rgb(1, 1, 7);
    margin-top: 10px;
    margin-bottom: 10px;
}
.senha{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.senha input{
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    background: rgb(234, 234, 234);
    font-size: 12pt;
}
.senha label{
    font-size: 15pt;
    color: rgb(1, 1, 7);
    margin-top: 10px;
    margin-bottom: 10px;
}
.botao{
    width: 100%;
    padding: 16px;
    margin: 25px;
    border-radius: 8px;
    color: wheat;
    background: #42c0c4;
    font-size: 15pt;
}