*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background:#c599ff;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width:600px){
    body{
        background: #e3ceff;
    }
}
.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color:#5c08b2 ;
    margin-bottom:30px ;
    margin-top: 30px;
    margin-left:60px;
    margin-right:80px ;

}
.logo{
    flex: 20%;
    text-align: center;
    font-size: 70px;
    margin-top: 21px;
}
.imag{
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius:3%;
}
.logo h1{
    color: white;
    font-size: 45px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 60px;
    margin-bottom: 70px;
    margin-top: 20px;
    flex:80%;
}
.menu{
    flex: 80%;
    text-align: right;
    padding: 20px;
    margin-bottom: 48px;
}
.menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}
.menu a:hover{
    color: whitesmoke;
    border-top: 4px solid rgb(255, 255, 225);
}
.premium{
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 55%;
    background-color: #994dfa;
}


.produtos{
    display: grid;
    grid-template-columns: 400px 400px ;
    grid-template-rows: 400px 400px ;
    align-items: center;
    justify-items: center;
    margin-left: 544px;
    text-align: center;
}
.texto1{
    width: 100%;
    font-size: 50px;
    margin: 0;
    text-align: center;
    margin-top:40px;
    font-family:Bodoni;
    color: #fdf4ea;
}
.card1{
    width: 300px;
    height: 300px;
    border:1px solid#994dfa;
    border-radius:20%;
}
.card2{
    width: 300px;
    height: 300px;
    border:1px solid#994dfa;
    border-radius:20%;
}
.card3{
    width: 300px;
    height: 300px;
    border:1px solid#994dfa;
    border-radius:20%;
}
.card4{
    width: 300px;
    height: 300px;
    border:1px solid#994dfa;
    border-radius:20%;
}
.preco{
    font-size: 20px;
    color:#f0e6ff;
}
.botaosobre{
    background:#49078f;
    padding: 10px;
    color:#f0e6ff;
    text-decoration: none;

}
.botaosobre:hover{
    background:#f5f6f7;
    opacity:7;
}
    